<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agenda">
    <meta name="author" content="e-ghost 2019">

    <title>AgendaVue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body id="page-top" class="index">
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">AgendaVue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contactos">Contactos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nuevo">Añadir contacto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca de...</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">AgendaVue</span>
                        <hr class="star-light">
                        <span class="skills">Agenda básica en Vue</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="app">
        <!-- Contactos Grid Section -->
        <section id="contactos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contactos</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div v-if="contactos.length > 0">
                <div>
                    <div class="row">
                        <div class="col-xs-4">
                            <h4>Nombre</h4>
                        </div>
                        <div class="col-xs-4">
                            <h4>Email</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>Teléfono</h4>
                        </div>
                        <div class="col-xs-1">
                            <h4>Eliminar</h4>
                        </div>
                    </div>
                    <div v-for="(contacto, index) in contactos" :key="index" class="row">
                        <div class="col-xs-4">
                            <p>{{ contacto.nombre }}</p>
                        </div>
                        <div class="col-xs-4">
                            <p>{{ contacto.email }}</p>
                        </div>
                        <div class="col-xs-3">
                            <p>{{ contacto.telefono }}</p>
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-danger btn-sm" @click="eliminarContacto(index)">
                                <span class="glyphicon glyphicon-remove"></span> Eliminar
                            </button>
                        </div>
                    </div>
                </div>
                </div>
                <div v-else>
                    <p class="text-center">No hay contactos en la lista.</p>
                </div>

            </div>
        </section>

        <!-- Añadir nuevo Section -->
        <section id="nuevo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Añadir contacto</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form @submit.prevent="agregarContacto">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" v-model="nuevoContacto.nombre" required>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Email" v-model="nuevoContacto.email" required>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Teléfono</label>
                                    <input type="tel" class="form-control" placeholder="Número de teléfono" v-model="nuevoContacto.telefono" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg">Añadir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Vue.js Script -->
    <script>
        new Vue({
            el: '#app',
            data: {
                contactos: [
                    { nombre: 'John Doe', email: 'john.doe@deusto.es', telefono: '555555555' },
                    { nombre: 'Jane Smith', email: 'jane.smith@deusto.es', telefono: '666666666' }
                ],
                nuevoContacto: {
                    nombre: '',
                    email: '',
                    telefono: ''
                }
            },
            methods: {
                agregarContacto() {
                    const nuevo = {
                        nombre: this.nuevoContacto.nombre,
                        email: this.nuevoContacto.email,
                        telefono: this.nuevoContacto.telefono
                    };
                    this.contactos.push(nuevo);
                    this.nuevoContacto.nombre = '';
                    this.nuevoContacto.email = '';
                    this.nuevoContacto.telefono = '';
                },
                eliminarContacto(index) {
                    this.contactos.splice(index, 1);
                }
            }
        });
    </script>

</body>
</html>
